@keyframes moveSlideshow1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes moveSlideshow2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #070707;
  color: #efefef;
}

a {
  text-decoration: none;
}
a:focus-visible {
  outline: none;
}

.navbar {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #5468a2;
  top: 0;
  left: 0;
  right: 0;
  height: 3.125rem;
  padding: 0rem 1.5625rem;
  box-shadow: 0rem 0.3125rem 1.25rem 0.625rem #46578982;
}
@media (max-width: 63.9375em) {
  .navbar {
    grid-template-columns: 1fr 2fr;
  }
}
.navbar a#brand {
  color: #c1c1c1;
  font-size: 1.875rem;
}
.navbar__options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 1.875rem;
  justify-self: end;
  gap: 0.3125rem;
}
@media (max-width: 39.9375em) {
  .navbar__options {
    display: none;
  }
}
@media (max-width: 63.9375em) {
  .navbar__options {
    margin-right: 0rem;
  }
}
.navbar__options__phone {
  display: grid;
  display: none;
  position: absolute;
  justify-items: center;
  grid-template-columns: 1fr;
  background-color: #5468a2;
  top: 3.125rem;
  left: 0;
  right: 0;
  box-shadow: 0rem 0.3125rem 1.25rem 0.625rem #46578982;
  gap: 0.625rem;
}
@media (min-width: 40em) {
  .navbar__options__phone {
    display: none;
  }
}
.navbar__options__phone > a {
  font-size: 1.25rem;
  text-align: center;
  color: #c1c1c1;
}
.navbar__options__phone > a:nth-child(2n+1) {
  margin: 0.9375rem 0;
}
.navbar__options__phone > a:hover {
  color: #efefef;
}
.navbar__options > a {
  font-size: 1.25rem;
  text-align: center;
  color: #c1c1c1;
}
.navbar__options > a:hover {
  color: #efefef;
}
.navbar > #hamburger {
  cursor: pointer;
  justify-self: end;
}
@media (min-width: 40em) {
  .navbar > #hamburger {
    display: none;
  }
}
.navbar > #hamburger > span {
  display: block;
  width: 1.75rem;
  height: 0.25rem;
  background: #efefef;
}
.navbar > #hamburger > span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.modal {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2b023aa8;
  backdrop-filter: blur(3px);
}
.modal__container {
  display: grid;
  height: 75%;
  width: 76%;
  grid-template-columns: 5fr 2fr;
}
.modal__container > #img {
  border-radius: 20px 0 0 20px;
  background: #070707;
}
.modal__container__info {
  border-radius: 0 20px 20px 0;
  background: #c1c1c1;
}
.modal__container__info > .header {
  display: grid;
}
.modal__container__info > .header > span {
  text-align: end;
  font-size: 26px;
  color: #767676;
  margin: 3px 11px 0 0;
  font-weight: 700;
  font-family: system-ui;
  cursor: pointer;
  transition: ease-in-out 400ms;
}
.modal__container__info > .header > span:hover {
  color: #070707;
}
.modal__container__info > .body {
  display: grid;
  color: black;
  font-size: 1rem;
  margin: 10px 13px;
  padding: 0 18px;
}
.modal__container__info > .body > * {
  font-size: 26px;
  margin-top: 20px;
}
.modal__container__info > .body > .title {
  margin-top: 10px;
  font-size: 2.1875em;
  text-align: center;
}
.modal__container__info > .body > .description {
  color: #474646;
}
.modal__container__info > .body > .tecnologies {
  margin-top: 20px;
  font-size: 20px;
  color: #0425ff;
}
.modal__container__info > .body > .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.introduction {
  display: grid;
  align-items: center;
  margin-top: 70px;
  height: 600px;
  background-image: url(../img//backGround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -121px;
  text-align: center;
}
@media (max-width: 63.9375em) {
  .introduction {
    background-size: 100%;
    height: 350px;
  }
}
@media (max-width: 39.9375em) {
  .introduction {
    background-size: 600px;
    height: 250px;
  }
}
.introduction__main {
  font-size: 16px;
}
@media (max-width: 63.9375em) {
  .introduction__main {
    font-size: 0.6875rem;
  }
}
@media (max-width: 39.9375em) {
  .introduction__main {
    font-size: 0.5rem;
  }
}
.introduction__main > h1 {
  font-size: 4.375em;
}
.introduction__main > h2 {
  font-size: 3.125em;
}

#technologies {
  position: relative;
  width: 100%;
  background: #5468a2;
  box-shadow: 0rem 0.3125rem 1.25rem 0.625rem #46578982;
  margin-top: 30px;
  overflow: hidden;
}
#technologies > div {
  display: flex;
  width: 200%;
}
#technologies > div:nth-child(odd) > div {
  animation: moveSlideshow1 15s linear infinite;
}
#technologies > div:nth-child(even) > div {
  animation: moveSlideshow2 15s linear infinite;
}
#technologies > div > div {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
#technologies > div > div > p {
  font-size: 30px;
  margin: 10px;
}
@media (max-width: 63.9375em) {
  #technologies > div > div > p {
    font-size: 25px;
    justify-content: space-evenly;
  }
}
@media (max-width: 39.9375em) {
  #technologies > div > div > p {
    font-size: 16px;
  }
}

main {
  margin-top: 30px;
}
main > h2 {
  text-align: center;
  font-size: 40px;
}
main > #folder {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 10px;
  gap: 10px;
}
main > #folder > .project {
  display: grid;
  align-items: center;
  text-align: center;
  color: #c1c1c1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  height: 187px;
  border-radius: 41px;
  transition: 500ms;
  font-size: 40px;
  text-shadow: 1px 1px 1px #46578982;
  transition: all 400ms ease-in-out;
}
main > #folder > .project:hover {
  transform: scale(1.01);
  box-shadow: 0 0 11px 3px #46578982;
  color: #efefef;
  text-shadow: 1px 1px 20px #0425ff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
