.footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  margin-top: 200px;
  background-color: $main;
  height: 200px;

  &__first{
    .icon {
      height: 45px;
      margin: 10px;
      border-radius: 50%;
      transition: .5s;
      &:hover {
        box-shadow: 0px 0px 7px 3px #759eff;
      }
    }
  }
}
