.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #23232382;
  backdrop-filter: blur(0.125rem);

  &__box {
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 80%;
    height: 80%;
    border-radius: 1.875rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__carousel {
      display: grid;
      align-items: center;
      background: map-get($theme-light, "black");
      border-radius: 0.9375rem 0 0 0.9375rem;
      & > img {
        width: 100%;
      }
    }

    &__info {
      display: grid;
      grid-template-rows: 3.125rem auto 3.125rem;
      background: map-get($theme-light, "bg");
      border-radius: 0 0.9375rem 0.9375rem 0;

      &__head {
        display: grid;
        grid-template-columns: 90% 10%;

        & > #project {
          margin-top: 0.9375rem;
          margin-bottom: 0.625rem;
        }

        & > #close-btn{
          align-self: center;
          cursor: pointer;
          color: #808080;
          font-size: 2em;
          font-weight: bold;
          padding-right: 0.9375rem;
          transition: 500ms ease-in-out;

          &:hover {
            color: #000;
          }
        }
      }
      &__desc {
        padding: 1.875rem 1.25rem;

        & > p {
          text-align: initial;
          font-size: 1.3125rem;
        }
      }
      &__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
         & > a > img{
           max-width: 60px;
         }
      }
    }
  }
}
