
.navbar {
  @include breakpoint-down(medium) {
    grid-template-columns: 1fr 2fr;
  }

  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: $main;
  top: 0;
  left: 0;
  right: 0;
  height: 3.125rem;
  padding: 0rem 1.5625rem;
  box-shadow: 0rem 0.3125rem 1.25rem 0.625rem $main-shadow;

  a#brand {
    color: $light-gray;
    font-size: 1.875rem;
  }

  &__options {
    @include breakpoint-down(small) {
      display: none;
    }
    @include breakpoint-down(medium) {
      margin-right: 0rem;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 1.875rem;
    justify-self: end;
    gap: 0.3125rem;

    &__phone {
      @include breakpoint-up(medium) {
        display: none;
      }

      display: grid;
      position: absolute;
      justify-items: center;
      grid-template-columns: 1fr;
      background-color: $main;
      top: 3.125rem;
      left: 0;
      right: 0;
      box-shadow: 0rem 0.3125rem 1.25rem 0.625rem $main-shadow;
      gap: 0.625rem;

      & > a {
        font-size: 1.25rem;
        text-align: center;
        color: $light-gray;

        &:nth-child(2n+1){
          margin: 0.9375rem 0;
        }

        &:hover{
          color: $white;
        }
      }
    }

    & > a {
      font-size: 1.25rem;
      text-align: center;
      color: $light-gray;

      &:hover{
        color: $white;
      }
    }
  }

  & > #hamburger {
    @include breakpoint-up(medium) {
      display: none;
    }

    cursor: pointer;
    justify-self: end;

    & > span {
      &:not(:last-child){
        margin-bottom: 0.3125rem;
      }

      display: block;
      width: 1.75rem;
      height: 0.25rem;
      background: $white;
    }
  }
}
